@page "/checkout"
@layout MainLayout
@inherits CheckoutBase
@using BlazingPizza.Services
@inject OrderState OrderState

<div class="main">
    <div class="checkout-cols">
        <div class="checkout-order-details">
            <h4>Review order</h4>
            @foreach (var pizza in order.Pizzas)
            {
                    <p>
                        <strong>
                        @(pizza.Size)"
                        @pizza.Special.Name
                            (£@pizza.GetFormattedTotalPrice())
                        </strong>
                    </p>
            }

            <p>
                <strong>
                    Total price:
                    £@order.GetFormattedTotalPrice()
                </strong>
            </p>
        </div>
    </div>

    <button class="checkout-button btn btn-warning" @onclick="PlaceOrder" disabled=@isSubmitting>
      Place order
    </button>
</div>
